<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>링크스!<links></title>
  <script src="/js/includeHTML.js"></script>
</head>
<body>
<heade>
  <script>header();</script>
</heade>
<nav>
  <script>nav();</script>
</nav>
<div>
  <script th:inline="javascript">
    /*<![CDATA[ */
    let name = /*[[${session.userName}]]*/;
    if(name != null){
      document.write(name + "님 환영합니다.");
      logout();
    }else{
      login_and_signup();
    }
    /* ]]> */
  </script>
</div>
<div class="container">
  <div>
    <table border="1">
      <thead> <tr>
        <th>#</th>
        <th>제목</th>
        <th>내용</th>
        <th>작성자</th>
        <th>수정</th>
        <th>삭제</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="board : ${boards}">
        <td th:text="${board.id}"></td>
        <td th:text="${board.title}"></td>
        <td th:text="${board.desc}"></td>
        <td th:text="${board.author}"></td>
        <td>
          <a  th:if="${board.author == session.userName}" th:href="@{/boards/update(id=${board.id})}">수정</a>
        </td>
        <td>
          <a  th:if="${board.author == session.userName}" th:href="@{/boards/delete(id=${board.id})}">삭제</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</body>
</html>