<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>링크스!<links></title>
</head>
<body>
<h1><a href="/">링크스</a></h1>
<h2>환영합니다. 여기는 글 목록 페이지입니다.</h2>
<p>
  <a href="/boards">글목록</a>
  <a href="/boards/create">글쓰기</a>
</p>

<p th:text="'안녕하세요. ' + ${data}"> 안녕하세요 반가워요.</p>

<div class="container">
  <div>
    <table>
      <thead> <tr>
        <th>#</th>
        <th>제목</th>
        <th>내용</th>
        <th>작성자</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="board : ${boards}">
        <td th:text="${board.id}"></td>
        <td th:text="${board.title}"></td>
        <td th:text="${board.desc}"></td>
        <td th:text="${board.author}"></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</body>
</html>