<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>링크스!<links></title>
</head>
<body>
<h1><a href="/">링크스</a></h1>
<p>
    <a href="/boards">글목록</a>
    <a href="/boards/create">글쓰기</a>
    <a href="/login">로그인</a>
    <a href="/signup">회원가입</a>
</p>

<p>
<form action="/boards/create" method="post">
    <div>
        <input name="author" type="hidden" value="아무개">
    </div>

    <div>
        <div>제목</div>
        <input name="title" type="text">
    </div>
    <div>
        <div>내용</div>
        <textarea cols="30" id="desc" name="desc" rows="10"></textarea>
    </div>
    <div>
        <button type="submit">작성하기</button>
    </div>
</form>
</p>

</body>
</html>