<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>링크스!<links></title>
    <script src="/js/includeHTML.js"></script>
</head>
<body>
<heade>
    <script>header();</script>
</heade>
<nav>
    <script>nav();</script>
</nav>
<div>
    <script th:inline="javascript">
        /*<![CDATA[ */
        let name = /*[[${session.name}]]*/;
        if(name != null){
            document.write(name + "님 환영합니다.");
            logout();
        }else{
            login_and_signup();
        }
        /* ]]> */
    </script>
</div>
<p>
<form action="/boards/create" method="post">
    <div>
        <input name="author" type="hidden" value="아무개">
    </div>

    <div>
        <div>제목</div>
        <input name="title" type="text">
    </div>
    <div>
        <div>내용</div>
        <textarea cols="30" id="desc" name="desc" rows="10"></textarea>
    </div>
    <div>
        <button type="submit">작성하기</button>
    </div>
</form>
</p>

</body>
</html>