<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>링크스!<links></title>
    <script type="text/javascript" src="/js/includeHTML.js"></script>
</head>
<body>
<heade>
    <script>header();</script>
</heade>
<nav>
    <script>nav();</script>
</nav>
<div>
    <script th:inline="javascript">
        /*<![CDATA[ */
        let name = /*[[${session.name}]]*/;
        if(name != null){
            document.write(name + "님 환영합니다.");
            logout();
        }else{
            login_and_signup();
        }
        /* ]]> */
    </script>
</div>
<h2 th:text="${session.name}"></h2>
</p>

</body>
</html>